/* Main definitions */
html {
	height: 100%;
	width: 100%;
}

body {
	background-color: #efefec;
	margin: 0;
	padding: 0;
	font-family: Georgia;
	height: 100%;
	font-size: 100%;
}

.container {
	width: 960px;
	margin: 0 auto;
	height: auto;
}

a {
	font-style: italic;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
	position: relative;
	top: -1px;
}

a:visited {
	font-style: italic;
	text-decoration: none;
}

.dotlight {
	background: url(../images/dotlight.png) no-repeat;
	height: 22px;
	width: 24px;
	padding-top: 2px;
	display: inline-block;
	font-size: 1em;
	color: #fff;
	text-align: center;
}

.arrowup {
	height: 0px;
	width: 0px;
	border: 0px solid rgba(0,0,0,0);
	border-width: 0px 14px 16px 14px;
	position: absolute;
	margin-top: -25px;
}

.arrowdown {
	height: 0px;
	width: 0px;
	border: 0px solid rgba(0,0,0,0);
	border-width: 16px 14px 0px 14px;
	position: absolute;
	margin-top: -25px;
}

h1 {
	font-size: 2em; /* 32px */
	margin-bottom: 0.75em; /* 24px */
	line-height: 1.5; /* 48px */
}

h2 {
	font-size: 1.5em; /* 24px */
	margin-bottom: 1em; /* 24px */
	line-height: 1; /* 24px */
}

h3 {
	font-size: 1.25em; /* 20px */
	margin-bottom: 1.2em; /* 24px */
	line-height: 1.2; /* 24px */
}

h4 {
	font-size: 1.125em; /* 18px */
	margin-bottom: 1.333em; /* 24px */
	line-height: 1.333; /* 24px */
}

h5 {
	font-weight: bold;
}

h5, h6 {
	font-size: 1em; /* 16px */
	margin-bottom: 1.5em; /* 24px */
	line-height: 1.5; /* 24px */
}

p {
	margin-bottom: 1.5em;
	line-height: 145%;
	word-wrap: break-word;
}

.menu {
	background-color: #687a79;
	width: 470px;
	height: 10px;
	-moz-box-shadow: -4px 4px 0px #3d4746;
	-webkit-box-shadow: -4px 4px 0px #3d4746;
	box-shadow: -4px 4px 0px #3d4746;
	color: #fff;
	font-size: 1.2em;
	padding: 20px;
	padding-top: 10px;
	position: relative;
	top: 40px;
	float: right;
	right: -30px;
}

.menu a {
	margin: 0px 10px;
	color: #fff;
}

.menu .arrowup {
	border-bottom-color: #687a79;
	margin-left: 434px;
}

input[type="submit"] {
	-moz-box-shadow: -4px 4px 0px #3d4746;
	-webkit-box-shadow: -4px 4px 0px #3d4746;
	box-shadow: -4px 4px 0px #3d4746;
	float: right;
	background-color: #687a79;
	color: #fff;
	padding: 4px;
	border: none;
}

h2 .dotlight {
	line-height: 65%;
	cursor: pointer;
}

.heading {
	cursor: pointer;
}

.byuser {
	float: right;
	text-align: right;
	display: inline;
}

.chosen {
	color: #6ec6c2;
	font-size: 4em;
	position: absolute;
}

ol, ul {
	display: inline-block;
	width: 593px;
	margin: 1.5em auto;
	margin-left: 170px;
	list-style-type: square;
	list-style-image: url(../images/dotlight12.png);
}

li {
	margin-bottom: 6px;
}

.loader {
	display: none;
	position: absolute;
	left: 50%;
}

.error {
	color: #f00;
	font-style: italic;
}

/* header */
#header {
	width: 100%;
	height: auto;
	clear: both;
	margin-bottom: 100px;
}

#header a, #header a:visited {
	color: #fff;
}

#header #top {
	width: 100%;
	height: 40px;
	background-color: #687a79;
	text-align: center;
}

#header #top #accountinfo {
	width: 960px;
	text-align: center;
	color: #fff;
	margin: 0 auto;
	position: relative;
	top: 8px;
}

#header #topmenu {
	width: 960px;
	margin: 0 auto;
	position: relative;
	top: -12px;
}

#header #topmenu .dotlight {
	float: right;
	position: relative;
	right: 30px;
}

.readmore {
	float: right;
}

/* Content */
#content {
	width: 960px;
	margin: 0 auto;
	height: auto;
	clear: both;
	margin-bottom: 200px;
}

#content p {
	width: 593px;
	margin: 0 auto;
	margin-bottom: 1.5em;
	line-height: 145%;
}

#content h1, #content h2, #content h3, #content h4, #content h5 {
	width: 593px;
	margin: 0 auto;
	color: #3d4746;
	font-weight: 100;
	margin: 0 auto;
	line-height: 265%;
}

#content p a, #content h1 a, #content h2 a, #content h3 a, #content h4 a, #content h5 a {
	font-style: normal;
	color: #687a79;
}
#content h1 a, #content h2 a, #content h3 a, #content h4 a, #content h5 a {
	width: 593px;
	display: inline-block;
}

#content h1 a:hover, #content h2 a:hover, #content h3 a:hover, #content h4 a:hover, #content h5 a:hover {
	background-color: #f1f1f0;
}

#content .biglogo {
	margin: 0 auto;
	width: 632px;
}

#content .box {
	padding: 10px;
	background-color: #e2e2df;
	width: 593px;
	position: relative;
	margin: 0 auto;
	top: 26px;
	margin-bottom: 3.2em;
	clear: both;
	display: block;
}

#content .overlay {
	position: absolute;
	z-index: 100;
	margin: 0 auto;
	margin-top: 8%;
	margin-left: -5%;
	-moz-box-shadow: -4px 4px 0px #687a79;
	-webkit-box-shadow: -4px 4px 0px #687a79;
	box-shadow: -4px 4px 0px #687a79;
}

#content .login {
	background-color: #a9c6c5;
	-moz-box-shadow: -4px 4px 0px #687a79;
	-webkit-box-shadow: -4px 4px 0px #687a79;
	box-shadow: -4px 4px 0px #687a79;
}

#content .login label {
	padding: 4px;
	color: #fff;
	display: inline-block;
}

#content .login input {
	padding: 4px;
	border: none;
	background-color: #fff;
}

#content .login input[type="submit"] {
	background-color: #687a79;
}

#content .login input[type="submit"]:focus {
	-moz-box-shadow: 4px -4px 0px #3d4746;
	-webkit-box-shadow: 4px -4px 0px #3d4746;
	box-shadow: 4px -4px 0px #3d4746;
}

#content .login input:focus {
	-moz-box-shadow: -4px 4px 0px #687a79;
	-webkit-box-shadow: -4px 4px 0px #687a79;
	box-shadow: -4px 4px 0px #687a79;
}

#content .login h2 {
	position: relative;
	top: -20px;
	color: #fff;
}

#content .box .arrowup {
	border-bottom-color: #e2e2df;
	right: 20px;
}

#content .login .arrowup {
	border-bottom-color: #a9c6c5;
	right: 40px;
}
form.login ul {
	text-align: center;
	list-style-type: none;
	display: inline;
	list-style-image: none;
}
form.login ul li {
	float: left;
	padding: 4px;
	list-style-type: none;
}
form.login ul li span {
	padding: 0 1em 0 3px
}
form.login fieldset {
	clear: both;
	padding: 1em 0;
	border: none;
}
form.login div+ fieldset {
	display: none
}
form.login label {
	display: block;
	font-weight: bold;
	font-size: larger;
	margin-bottom: .5em
}
input[name=openid_username] {
	width: 8em
}
input[name=openid_identifier] {
	width: 18em
}
form.login ul li.highlight {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: #E2E2DF
}
form.login fieldset div {
	font-family: arial;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: rgba(0,0,0,0) url(images/fadegrey.png);
	padding: 10px;
	display: inline-block
}
form.login input[type='submit'] {
	margin-left: 1em;
}

.login_logo {
	color: #E2E2DF;
	padding: 6px 0px 8px 28px;
	background: url(images/openidico.png) no-repeat
}

#openid_login {
	float: left;
	font-size: larger;
	width: 30%;
	margin: 2em 1em;
	text-align: center
}
#openid_login div {
	margin-top: 0.5em
}
#openid_login div+ span {
	font-size: smaller
}

#newpassword .box .arrowup {
	border-bottom-color: #e2e2df;
	right: 20px;
}

#content .box .number {
	float: left;
	position: absolute;
	margin-top: -23px;
	padding-top: 3px;
}

#content .box .comment {
	font-size: 0.8em;
	color: #444;
	font-style: italic;
}

#content .box .comment .who {
	margin-left: 30px;
}

#content .box .comment p {
	margin-top: 15px;
	line-height: 140%;
}

#content .box .comment .dotlight {
	position: absolute;
	margin-top: -4px;
}

#content .postfooter .box {
	left: -136px;
}

#content .postfooter {
	width: 593px;
	margin: 0 auto;
	margin-top: 4px;
	height: auto;
	clear: both;
}

#content .postfooter .dotlight {
	float: right;
}

#content .postfooter .menu {
	float: none;
	right: -112px;
	top: 40px;
}

#content .menu .box {
	background-color: #fff;
	left: -140px;
	-moz-box-shadow: -4px 4px 0px #e2e2df;
	-webkit-box-shadow: -4px 4px 0px #e2e2df;
	box-shadow: -4px 4px 0px #e2e2df;
	z-index: 100;
}

#content .menu .box .arrowup {
	border-bottom-color: #fff;
	right: 380px;
}

#content .avatar {
	border: 1px solid #687A79;
	height: 25px;
	-moz-box-shadow: -4px 4px 0px #3D4746;
	-webkit-box-shadow: -4px 4px 0px #3D4746;
	box-shadow: -4px 4px 0px #3D4746;
	float: right;
	margin: 20px;
	margin-right: 0px;
}

#content .big {
	height: 140px;
}

#content .blocked {
	width: 100%;
	background-image: url(../images/gray_stripes.png);
	padding: 10px;
	text-align: center;
	font-weight: 100;
	font-style: italic;
	display: inline-block;
	border: 1px solid #DBDBD8;
	position: relative;
	left: -12px;
}

.write {

}

.write label {
	color: #687A79;
}

.write input[type="text"] {
	width: 70%;
	float: right;
}

.write textarea {
	width: 100%;
	height: 100%;
	font-size: 0.84em;
	min-height: 220px;
	margin: 6px;
	margin-left: -3px;
	font-family: Georgia;
}

.write input[type="radio"] + label {
	color: #687a79;
	background-color: #e2e2df;
	margin: 0px;
	padding: 4px;
	margin-right: -5px;
	cursor: pointer;
	display: none;
}

.write input[type="radio"] {
	display: none;
	cursor: pointer;
}

.write input[type="radio"]:checked + label {
	color: #000;
	background-color: #6ec6c2;
	-moz-box-shadow: -4px 4px 0px #50908d;
	-webkit-box-shadow: -4px 4px 0px #50908d;
	box-shadow: -4px 4px 0px #50908d;
	position: relative;
	top: -2px;
	color: #fff;
	display: none;
}

.write #edit-player {
	display: inline-block;
	position: static;
}

.new_post {
	float: left;
	position: relative;
	top: 2px;
	margin-right: 4px;
}

#content .submenu {
	float: right;
	position: relative;
	top: -50px;
	width: 50%;
	margin: 0 auto;
	margin-top: 4px;
}

#content .submenu .menu {
	left: -170px;
	top: 19px;
}

#content .submenu .menu .limit {
	height: 36px;
	font-size: 0.5em;
	background-color: #a9c6c5;
	display: inline-block;
	float: right;
	position: relative;
	top: -10px;
	right: -20px;
	text-align: center;
	padding: 2px 6px;
}

#content .submenu .menu .limit input {
	width: 20px;
	background: none;
	border: none;
	border-bottom: 1px dotted #000;
	color: #fff;
	font-size: 2em;
}

.submenu .menu .arrowup {
	right: 284px;
}

#content .pagination {
	width: 593px;
	margin: 0 auto;
	border-top: 2px solid #687a79;
	padding-top: 6px;
	color: #687a79;
	text-align: right;
	clear: both;
}

#content .pagination .left {
	float: left;
	padding: 4px;
}

#content .pagination a {
	padding: 3px;
	border: 1px solid #fff;
	margin: 2px;
	color: #687A79;
}

#content .pagination .currentpage {
	border: 1px solid #687a79;
}

#content .toplogo {
	position: absolute;
	margin-top: -100px;
}

#content .info {
	background-color: #f5f5f5;
	color: #999;
	font-size: 0.8em;
}

#content .info .arrowup {
	border-bottom-color: #f5f5f5;
}

#content .box ul {
	margin-left: -10px;
}

#content .box ul h4 {
	margin-left: -14px;
}

#content .box a {
	color: #50908d;
}

.ac_results {
	position: absolute;
	z-index: 102;
	margin-top: -40px;
	width: 280px;
	height: auto;
}

.ac_results ul {
	display: inline-block;
	width: 98%;
	margin: 2.5em 0;
	margin-left: 0px;
	list-style-type: none;
	list-style-image: none;
	background-color: #fff;
	-moz-box-shadow: -4px 4px 0px #E2E2DF;
	-webkit-box-shadow: -4px 4px 0px #E2E2DF;
	box-shadow: -4px 4px 0px #E2E2DF;
}

.ac_results li {
	cursor: pointer;
}

/* Footer */
#footer {
	width: 100%;
	height: auto;
	margin-top: 50px;
	background-color: #687a79;
	text-align: center;
	margin-bottom: 0px;
}

#footer #footermenu {
	width: 960px;
	margin: 0 auto;
	position: relative;
	top: -12px;
}

#footer #footermenu .dotlight {
	float: left;
	position: relative;
	left: 30px;
	margin-bottom: 20px;
}

#footer #footermenu .dotlight .menu {
	top: -62px;
	left: -31px;
	float: left;
}

#footer .arrowdown {
	border-top-color: #3d4746;
	top: 68px;
	left: 29px;
}

#footer #footercontent {
	clear: both;
	width: 960px;
	margin: 0 auto;
	text-align: left;
}

#footer .byhalsduk {
	float: right;
	text-align: center;
	font-size: 0.5em;
}

#footer #footermenu .sharefooter {
	position: relative;
	top: -44px;
}

#footer #footermenu .sharefooter .share {
	float: right;
	position: relative;
	left: 49px;
	top: -12px;
	margin-bottom: 20px;
	background: url(../images/share.png) no-repeat;
	height: 36px;
	width: 73px;
	padding-top: 0px;
	display: inline-block;
	font-size: 1em;
	color: #fff;
	text-align: center;
}

#footer #footermenu .sharefooter .menu {
	float: none;
	right: -112px;
	top: 40px;
	background-color: #EFEFEC;
}

#footer #footermenu .sharefooter {
	width: 593px;
	margin: 0 auto;
	margin-top: 4px;
	height: auto;
	clear: both;
}

#footer #footermenu .sharefooter .menu .arrowup {
	border-bottom-color: #EFEFEC;
}

#footer #footermenu .sharefooter .menu a {
	float: left;
}

#footer .meta-info {
	color: #fff;
	font-size: 0.5em;
}

#footer .meta-info a {
	color: #fff;
	text-decoration: underline;
}
